
@{
    Layout = null;
}

<div style="border: solid 2px yellow; height: 200px;">
    
    I am another tab => LegDetailMessages
    
    <button data-command="openModal" data-url="@Url.Action("MessageModal")">Open modal window</button>
    
    <div id="messageModal">

    </div>

</div>

<script src="~/Areas/LegDetail/Scripts/legDetailMessagesModule.js"></script>