
@{
    Layout = null;
}

<div style="border: solid 2px green; height: 200px;">
    
    I am a tab => LegDetailJourneyLog

</div>

<script src="~/Areas/LegDetail/Scripts/legDetailJourneyLogModule.js"></script>